body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #333;
  }
  h2 {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(204, 55, 55);
    padding-left: 30px;
    padding-right: 30px;
  }
  p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: rgb(61, 61, 61);
    padding-left: 35px;
    padding-right: 35px;
  }
  ul {
    list-style-type: square;
    margin: 14px;
    padding: 35px;
  }
  
  li {
    margin: 10px 0;
    font-size: 17px;
    color: rgb(70, 70, 70);
  }
  a{
    text-decoration: none;
    color: rgb(255, 15, 15);
    font-weight: bold;

  }
  a:hover{
    color: blue;
  }
  